body {
  font-family: "Raleway", sans-serif;
}

img {
  object-fit: cover;
}

.container-page {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-header {
  display: flex;
}

.hebergement-link {
  color: #0065fc;
  cursor: pointer;
}

.hero {
  margin-top: 24px;
}

.hero h2 {
  font-size: 20px;
}

.search {
  margin-top: 8px;
  margin-bottom: 24px;
}

form.search i.fa {
  background: #f2f2f2;
  width: 40px;
  height: 31px;
  text-align: center;
  line-height: 28px;
  border-radius: 8px 0 0 8px;
}

.search .button {
  background-color: #0065fc;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.search .input-text {
  padding: 6px 16px;
  border: solid 2px #f5f5f5;
  font-weight: 700;
  margin-left: -4px;
}

.nb-logement i {
  font-size: 10px;
  color: #0065fc;
  padding: 10px;
  border: solid 2px #eaeaea;
  border-radius: 50%;
  margin-right: 8px;
}

.nb-logement {
  font-size: 16px;
  margin-bottom: 38px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container .hebergements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container .hebergements-marseille {
  background-color: #f2f2f2;
  padding: 40px 44px;
  padding-right: 0 !important;
  border-radius: 24px;
  grid-column: 1/3;
  grid-row: 1;
}

.container .hebergements-marseille h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.stars {
  display: flex !important;
  color: #096afc;
}

.hebergement-item {
  background-color: white;
  padding: 4px;
  border-radius: 16px;
  margin-bottom: 55px;
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03),
    1px 4px 16px rgba(14, 21, 28, 0.05);
}

.hebergement-item figure img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.hebergement-item figcaption {
  padding: 8px;
}

.hebergements-marseille a {
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

figcaption h4 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

figcaption p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.highlight {
  font-weight: 700;
}

.activite {
  margin-left: 30px;
  cursor: pointer;
}

.signup {
  margin-left: 30px;
  color: #0065fc;
  font-weight: 700;
  cursor: pointer;
}

.filtre {
  display: flex;
  align-items: center;
  margin: 0;
}

.room {
  width: 200px;
  height: 133px;
}

.plus-populaires {
  background-color: #f2f2f2;
  padding: 38px 44px;
  padding-bottom: 0;
  border-radius: 24px;
}

.plus-populaires header h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.plus-populaires header i.fa {
  background: #f2f2f2;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 28px;
  border-radius: 8px 0 0 8px;
}

.populaire-item {
  margin-right: 34px;
  background-color: white;
  padding: 4px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03),
    1px 4px 16px rgba(14, 21, 28, 0.05);
}

.populaire-item figure {
  display: flex;
  align-items: center;
}

.populaire-item figure img {
  border-radius: 16px 0 0 16px;
}

.populaire-item figcaption h4 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
}

.populaire-item figcaption p {
  margin-bottom: 48px;
}

.populaires {
  width: 200px;
  height: 150px;
}

.activites-marseille {
  height: 600px;
  margin-top: 50px;
}

.activites-list {
  display: grid;
  grid-template-columns: repeat(4, 367px);
  grid-template-rows: repeat(2, 300px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

ul.activites-list figure,
ul.activites-list figure figcaption {
  margin: 0;
  padding: 0;
}

ul.activites-list li {
  overflow: hidden;
}

ul.activites-list figure {
  height: 100%;
}

ul.activites-list figure img {
  height: 80%;
  width: 100%;
}

ul.activites-list figure figcaption p {
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
}

.activites-marseille h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.vieux-port {
  margin-right: 34px;
  background-color: white;
  width: 300px;
  border-radius: 16px;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 1 / 1 / 3 / 2;
}

.vieux-port img {
  width: 100%;
  height: 90% !important;
  border-radius: 16px 16px 0 0;
}

.fort {
  background-color: white;
  width: 300px;
  margin-bottom: 48px !important;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 1 / 2 / 2 / 3;
}

.iles {
  margin-right: 34px;
  background-color: white;
  width: 300px;
  border-radius: 16px;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 2 / 2 / 3 / 3;
}

.fort img {
  height: 300px;
  width: 100%;
}

.iles img {
  height: 300px;
  width: 100%;
}

.notre-dame {
  margin-right: 34px;
  background-color: white;
  width: 300px;
  border-radius: 16px;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 1 / 3 / 3 / 4;
}

.notre-dame img {
  height: 90% !important;
}

.parc {
  margin-right: 34px;
  background-color: white;
  width: 300px;
  border-radius: 16px;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 1 / 4 / 2 / 5;
}

.calanques {
  margin-right: 34px;
  background-color: white;
  width: 300px;
  border-radius: 16px;
  margin-bottom: 48px;
  box-shadow: 0px 0px 4px rgb(14 21 28 / 3%), 1px 4px 16px rgb(14 21 28 / 5%);
  grid-area: 2 / 4 / 3 / 5;
}

.activite-item img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

footer {
  margin-top: 50px;
  background: #f2f2f2;
  padding: 50px 0;
}

footer .container-page {
  display: flex;
  justify-content: space-between;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

footer .footer-link {
  margin-bottom: 16px;
}

footer a {
  text-decoration: none;
  color: black;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.filters h3 {
  margin-right: 36px;
  font-size: 18px;
  font-weight: 700;
}

ul.filter-items {
  display: flex;
}

li.filter-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 40px;
  border: 2px solid #d9d9d9;
  cursor: pointer;
}

li.filter-item p {
  padding: 6px 6px;
}

li.filter-item i {
  width: 54px;
  height: 54px;
  background: #deebff;
  border-radius: calc(54px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  color: #086afc;
}

.nav-responsive {
  display: none;
}

@media (max-width: 599px) {
  html {
    padding: 20px;
  }
  .container-page {
    width: 100% !important;
  }

  .activite {
    display: none;
  }
  .hebergement-link {
    display: none;
  }
  .nav-responsive {
    display: flex !important;
    align-items: center;
  }
  .hebergement-link-mobile {
    background-color: white;
    border: none;
    color: #0065fc;
    margin-top: 20px;
    width: 50%;
    font-size: 16px;
    border-bottom: 3px solid #0065fc;
  }

  .activite-link-mobile {
    background-color: white;
    border: none;

    margin-top: 20px;
    width: 50%;
    font-size: 16px;
  }

  .activite-link-mobile:active {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero p {
    font-size: 12px;
  }

  .search .input-text {
    width: 35% !important;
  }

  .filters h3 {
    font-size: 16px;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .filters h3 {
    margin-bottom: 10px;
  }

  ul.filter-items {
    flex-wrap: wrap;
  }

  li.filter-item {
    margin-bottom: 16px;
  }
  li.filter-item i {
    width: 40px;
    height: 40px;
  }

  .nb-logement p {
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .plus-populaires header h2 {
    font-size: 18px;
  }

  .plus-populaires header {
    align-items: flex-start;
  }
  .plus-populaires header i.fa {
    width: 30px;
    height: 30px;
  }
}
